name: CI
on: [push]

jobs:
   lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements/requirements.txt -r requirements/requirements-dev.txt
      - name: Check codestyle
        run: catalyst-check-codestyle
      - name: Run tests
        run: pytest src/test.py
